services:
    nginx-rtmp:
        build: .
        container_name: 'nginx-mls'
        ports:
            - 1935:1935
            - 8080:80
            - 8443:443
            - 3030:3000
        volumes:
            - .:/app
