<footer class="footer footer-center mt-10 bg-base-300 p-4 pb-10 text-base-content">
  <aside>
    <p>
      For any bug / feature requests, please open an issue in our
      <a class="link" href="https://github.com/live-miracles/MLS/" target="_blank">GitHub</a>
      repo (ʃƪ˶˘ ﻬ ˘˶).
    </p>
    <p>
      Check out our
      <a class="link" href="https://live-miracles.github.io/">homepage</a> for more streaming tools (=ↀωↀ=).
    </p>
  </aside>
</footer>
