<div class="navbar bg-base-100">
  <div class="flex-1">
    <a class="btn btn-ghost text-xl" href="/" id="server-name">MLS: <%= hostname %></a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li><a href="/" class="dynamic-params">Control</a></li>
      <li><a href="/settings.html" class="dynamic-params">Settings</a></li>
      <li>
        <a href="/stat" target="_blank" t>Stats</a>
      </li>
      <li><a href="/recording" target="_blank">Recordings</a></li>
      <li><a href="/config.php?proclist" target="_blank">Processes</a></li>
      <li><a href="https://github.com/live-miracles/MLS" target="_blank">GitHub</a></li>
    </ul>
  </div>
</div>

<div
  class="logs fixed bottom-10 right-1 z-40 mx-auto hidden h-[250px] w-[600px] overflow-y-scroll rounded-lg border border-accent bg-base-300 p-1 opacity-80"></div>
<div class="fixed bottom-1 right-1 z-50 flex items-center rounded bg-neutral px-1">
  <label class="badge badge-accent badge-outline m-1 min-w-28 rounded py-3">
    CPU: <span id="cpu-info" class="ml-1 text-neutral-content"></span>
  </label>
  <label class="badge badge-accent badge-outline m-1 min-w-36 rounded py-3">
    RAM: <span id="ram-info" class="ml-1 text-neutral-content"></span>
  </label>
  <label class="badge badge-accent badge-outline m-1 min-w-32 rounded py-3">
    Disk: <span id="disk-info" class="ml-1 text-neutral-content"></span>
  </label>
  <label class="badge badge-accent badge-outline m-1 min-w-32 rounded py-3">
    Down: <span id="downlink-info" class="ml-1 text-neutral-content"></span>
  </label>
  <label class="badge badge-accent badge-outline m-1 min-w-32 rounded py-3">
    Up: <span id="uplink-info" class="ml-1 text-neutral-content"></span>
  </label>
  <label class="swap m-1">
    <input id="show-logs" type="checkbox" checked class="show-toggle url-param" />
    <div class="badge swap-on badge-accent rounded py-3">logs</div>
    <div class="badge swap-off badge-accent badge-outline rounded py-3">logs</div>
  </label>
</div>

<div role="alert" id="badConnectionAlert" class="alert alert-error fixed left-1/2 z-[999] hidden w-96 -translate-x-1/2 transform opacity-90">
  <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
  </svg>
  <span>Unable to connect to the server...</span>
</div>
