<!doctype html>
<html lang="en" data-theme="dim">
  <head>
    <meta charset="UTF-8" />
    <title>Control</title>
    <link rel="icon" type="image/png" href="logo.png" />
    <link rel="stylesheet" type="text/css" href="output.css" />
    <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" /> -->
    <!-- <script type="text/javascript" src="jsmpeg.min.js"></script> -->
    <!-- <script type="text/javascript" src="jsmpeg.js" defer></script> -->
    <script type="text/javascript" src="tools.js"></script>
    <script type="text/javascript" src="control.js" defer></script>
  </head>
  <body class="bg-base-100 text-base-content">
    <div class="navbar bg-base-100">
      <div class="flex-1">
        <a class="btn btn-ghost text-xl" href="/" id="server-name">MLS</a>
      </div>
      <div class="flex-none">
        <ul class="menu menu-horizontal px-1">
          <li><a href="/" class="dynamic-params">Control</a></li>
          <li><a href="/settings.html" class="dynamic-params">Settings</a></li>
          <li>
            <a href="/stat" target="_blank" t>Stats</a>
          </li>
          <li><a href="/recording" target="_blank">Recordings</a></li>
          <li><a href="/config.php?proclist" target="_blank">Processes</a></li>
          <li><a href="https://github.com/live-miracles/MLS" target="_blank">GitHub</a></li>
        </ul>
      </div>
    </div>

    <div
      class="logs fixed bottom-10 right-1 z-40 mx-auto hidden h-[250px] w-[600px] overflow-y-scroll rounded-lg border border-accent bg-base-300 p-1 opacity-80"></div>
    <div class="fixed bottom-1 right-1 z-50 flex items-center rounded bg-neutral px-1">
      <label class="badge badge-accent badge-outline m-1 min-w-28 rounded py-3">
        CPU: <span id="cpu-info" class="ml-1 text-neutral-content"></span>
      </label>
      <label class="badge badge-accent badge-outline m-1 min-w-36 rounded py-3">
        RAM: <span id="ram-info" class="ml-1 text-neutral-content"></span>
      </label>
      <label class="badge badge-accent badge-outline m-1 min-w-32 rounded py-3">
        Disk: <span id="disk-info" class="ml-1 text-neutral-content"></span>
      </label>
      <label class="badge badge-accent badge-outline m-1 min-w-32 rounded py-3">
        Down: <span id="downlink-info" class="ml-1 text-neutral-content"></span>
      </label>
      <label class="badge badge-accent badge-outline m-1 min-w-32 rounded py-3">
        Up: <span id="uplink-info" class="ml-1 text-neutral-content"></span>
      </label>
      <label class="swap m-1">
        <input id="show-logs" type="checkbox" checked class="show-toggle url-param" />
        <div class="badge swap-on badge-accent rounded py-3">logs</div>
        <div class="badge swap-off badge-accent badge-outline rounded py-3">logs</div>
      </label>
    </div>

    <div role="alert" id="badConnectionAlert" class="alert alert-error fixed left-1/2 z-[999] hidden w-96 -translate-x-1/2 transform opacity-90">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
      </svg>
      <span>Unable to connect to the server...</span>
    </div>

    <section class="mx-6 my-3 text-center">
      <p>
      Distribute - <code>rtmp://<%= address %>/distribute/stream1</code> or <code>stream2</code> or <code>stream3</code> ...
        <br />
        Primary - <code>rtmp://<%= address %>/main/stream1</code><br />
        Backup - <code>rtmp://<%= address %>/backup/stream1</code><br />
        Local (between streams) - <code>rtmp://127.0.0.1/distribute/stream1</code><br />
        Multichannel Main Audio - <code>rtmp://<%= address %>/main/remap1</code> or
        <code>remap2</code>
      </p>
    </section>

    <div class="mx-10 my-3">
      <div class="collapse mx-auto bg-base-200">
        <input id="show-more" type="checkbox" class="url-param" />
        <div class="collapse-title text-center"><b>More</b></div>
        <div class="collapse-content">
          <div class="mx-6 my-3 text-center">
            <p>Multi-Channel Remap</p>
            <form>
              <button type="button" class="btn btn-primary btn-xs" onclick="submitForm(event,'config.php?remap')">on</button>
              <button type="button" class="btn btn-error btn-xs" onclick="submitForm(event,'config.php?remapoff')">off</button>
              <select name="remap_id" class="select select-bordered select-xs max-w-xs">
                <option disabled value="">Remap Id</option>
                <option selected value="remap1">Remap 1</option>
                <option value="remap2">Remap 2</option>
              </select>
              <select name="outputdest" class="select select-bordered select-xs max-w-xs">
                <option disabled value="">Destination</option>
                <option selected value="main">Main</option>
                <option value="backup">Backup</option>
              </select>
              <select name="remap_type" class="select select-bordered select-xs max-w-xs">
                <option disabled value="">Remap Type</option>
                <option selected value="obs">OBS</option>
                <option value="none">None</option>
              </select>
              <input
                type="number"
                name="ch_num"
                placeholder="Ch Number"
                value="16"
                min="1"
                max="16"
                class="input-neutral input input-xs input-bordered mx-1 w-24" />
            </form>
          </div>

          <div class="mx-6 my-3 text-center">
            <p>
              SRT Accept:
              <a href="/config.php?srtaccept" target="_blank" class="btn btn-primary btn-xs">on</a>
              <a href="/config.php?srtacceptoff" target="_blank" class="btn btn-error btn-xs">off</a>
            </p>
          </div>

          <div class="mx-6 my-3 text-center">
            <p>
              Supers - Global Control:
              <a href="/control.php?allsuper1on" target="_blank" class="btn btn-primary btn-xs">Add 1</a>
              <a href="/control.php?allsuper2on" target="_blank" class="btn btn-primary btn-xs">Add 2</a>
              <a href="/control.php?allsuper3on" target="_blank" class="btn btn-primary btn-xs">Add 3</a>
              <a href="/control.php?allsuper4on" target="_blank" class="btn btn-primary btn-xs">Add 4</a>
              <a href="/control.php?allsuper5on" target="_blank" class="btn btn-primary btn-xs">Add 5</a>
              <a href="/control.php?allsuper6on" target="_blank" class="btn btn-primary btn-xs">Add 6</a>
              <a href="/control.php?allsuper7on" target="_blank" class="btn btn-primary btn-xs">Add 7</a>
              <a href="/control.php?allsuper8on" target="_blank" class="btn btn-primary btn-xs">Add 8</a>
              <a href="/control.php?allsuperoff" target="_blank" class="btn btn-error btn-xs">Remove</a>
            </p>
          </div>

          <div class="mx-6 my-3 text-center">
            Batch Input Control: &nbsp;

            <select id="inputType" class="labeled-select">
              <option value="" disabled>Input Type</option>
              <option value="main" selected>Main</option>
              <option value="back">Backup</option>
              <option value="video">Video</option>
              <option value="holding">Holding</option>
            </select>

            <input type="text" id="batchInputControl" placeholder="Stream IDs: 3 4 5 7" class="input input-xs input-bordered w-[30rem]" />

            <button class="btn btn-primary btn-xs" onclick="batchInputControlClick(true);">on</button>
            <button class="btn btn-error btn-xs" onclick="batchInputControlClick(false);">off</button>
          </div>

          <div class="mx-6 my-3 text-center">
            Refresh Time (seconds):
            <input type="number" min="1" id="refreshTime" value="5" class="input input-xs input-bordered w-16" />
            <button class="btn btn-primary btn-xs" onclick="updateRefreshTime();">Update</button>

            <button class="btn btn-outline btn-xs ml-3" onclick="rerender();">Refresh Now</button>
          </div>
        </div>
      </div>
    </div>

    <div class="divider"></div>

    <section id="stream-controls" class="text-center"></section>

    <footer class="footer footer-center mt-10 bg-base-300 p-4 pb-10 text-base-content">
      <aside>
        <p>
          For any bug / feature requests, please open an issue in our
          <a class="link" href="https://github.com/live-miracles/MLS/" target="_blank">GitHub</a>
          repo (ʃƪ˶˘ ﻬ ˘˶).
        </p>
        <p>
          Check out our
          <a class="link" href="https://live-miracles.github.io/">homepage</a> for more streaming tools (=ↀωↀ=).
        </p>
      </aside>
    </footer>
  </body>
</html>
