@import "tailwindcss";
@plugin "daisyui" {
    themes: dim;
}

.collapse-title {
    @apply text-xl font-medium;
}

.table :where(th, td) {
    @apply p-1;
}

.input-label {
    @apply mr-1 inline-block max-w-md;
}

.labeled-input {
    @apply input input-xs w-full max-w-md;
}

.labeled-select {
    @apply select select-xs;
}

.collapsible-header {
    @apply collapse collapse-arrow border border-base-300 bg-base-200;
}
